// app global css in SCSS form
@import url('https://fonts.googleapis.com/css?family=Numans&display=swap" rel="stylesheet"');

// natural box layout model all layouts
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  font-family: 'Numans', sans-serif !important;
  height: 100%;
}

.project-img {
  height: 200px !important;
}

.contact-badge {
  display: none;
}

div.sticky-tab {
  position: sticky !important;
  position: -webkit-sticky !important;
  top: 0 !important;
}


.body-bg {
  background-image: url("/statics/bg-body.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

$tab-items-colors : ("indigo" : $indigo,
"blue-grey" : $blue-grey,
"cyan" : $cyan,
"accent" : $accent,
"deep-purple" : $deep-purple,
"pink" : $pink,
"purple" : $purple,
"deep-orange" : $deep-orange);

@media (min-width: $breakpoint-sm) {

  .tab-items {
    display: none !important;
  }


}

@media (max-width: $breakpoint-sm-max) {

  .intro-text {
    font-size: 2em !important;
  }

  .project-img {
    height: 150px !important;
  }
}

@media (max-width: $breakpoint-xs-max) {

  .intro-text {
    font-size: 2em !important;
  }

  .project-img {
    height: 150px !important;
  }

  .project-card {
    height: 320px !important;

  }
}

#intro-wrapper {
  opacity: 0.9;
  background-color: rgba(0, 0, 0, 0.4);
  position: relative;
  height: 100vh;
}

#intro {
  background: url(/statics/puneetkushwah.jpg) no-repeat top center/cover;
  height: 100vh;
  opacity: 0.9;
  position: absolute;
  width: 100%;
}

.responsive {
  max-width: 100%;
  height: auto;
}

.intro-bottom {
  border-bottom: 4px solid $indigo;
}

.center-align {
  margin: 0 auto;
}

.project-fab-btn {
  top: 0;
  right: 12px;
  transform: translateY(-50%);
}

.project-card {
  height: 300px;
}

.content-headers {
  background-color: $primary;
  color: white;
  font-size: 3em;
  padding: 8px;
}

.content-details {
  font-size: 2em;
  color: #888888;
}


@for $mtt from 1 through 20 {
  .mtt-#{($mtt*10)} {
    margin-top: $mtt*10px;
  }
}

.test-cls {
  background-color: red;
}

@each $coloritem,
$item in $tab-items-colors {
  .tab-color-hover-#{$coloritem} :hover {

    border-left: 4px solid (unquote($item));

  }

  .tab-color-hover-#{$coloritem} :hover>div {
    border-left: none !important;
    ;

  }

  .tab-color-hover-#{$coloritem} :hover>i {
    border-left: none !important;
    ;
  }

  .tab-color-active-#{$coloritem} {
    border-left: 4px solid (unquote($item));
  }

  .mob-color-active-#{$coloritem} {
    background-color: (unquote($item));
  }
}



@for $fw from 1 through 4 {
  .fw-#{($fw*100)+300} {
    font-weight: 300+($fw*100);
  }
}

@for $mtt from 1 through 20 {
  .mtt-#{($mtt*10)} {
    margin-top: $mtt*10px;
  }
}

@for $mrr from 1 through 20 {
  .mrr-#{($mrr*10)} {
    margin-right: $mrr*10px;
  }
}

@for $mbb from 1 through 20 {
  .mbb-#{($mbb*10)} {
    margin-bottom: $mbb*10px;
  }
}

@for $mll from 1 through 20 {
  .mll-#{($mll*10)} {
    margin-left: $mll*10px;
  }
}

@for $ptt from 1 through 10 {
  .ptt-#{($ptt*10)} {
    padding-top: $ptt*10px;
  }
}

@for $prr from 1 through 10 {
  .prr-#{($prr*10)} {
    padding-right: $prr*10px;
  }
}

@for $pbb from 1 through 10 {
  .pbb-#{($pbb*10)} {
    padding-bottom: $pbb*10px;
  }
}

@for $pll from 1 through 10 {
  .pll-#{($pll*10)} {
    padding-left: $pll*10px;
  }
}
